Run Query: Find all the tracks whose name starts with 'All'. **How many total records there are for this query?**

In [ ]:
select count(*) from tracks
where (name like 'All%');

Run Query: Find all the customer emails that start with "J" and are from gmail.com.

In [ ]:
select * from customers
where (email like 'j%') and (email like '%gmail.com');

Run Query: Find the albums with 12 or more tracks.

In [ ]:
SELECT * FROM albums where albums.id in
(select albums.id from albums
join tracks on albums.id = tracks.album_id
group by (albums.id)
having count(tracks.id) > 12);

Create a list of album titles and the unit prices for the artist "Audioslave".

In [ ]:
select sum(tracks.unit_price), albums.title
from albums
join tracks on albums.id = tracks.album_id
group by albums.id
having albums.artist_id = (select artists.id
                           from artists
                           where artists.name = 'Audioslave');

Using a subquery, find the names of all the tracks for the album "Californication".

In [ ]:
select tracks.name
from tracks
where tracks.album_id = (select albums.id
                         from albums
                         where albums.title = 'Californication');

Find the total number of invoices for each customer along with the customer's full name, city and email.

In [ ]:
select count(invoices.id) as invoices_sum, customers.last_name, customers.first_name, customers.city, customers.email
from customers
join invoices on customers.id = invoices.customer_id
group by customers.id;

After running the query described above, what is the email address of the 5th person, Franti코ek Wichterlov치?

In [ ]:
select email
from
    (select count(invoices.id) as invoices_sum, customers.last_name, customers.first_name, customers.city, customers.email
    from customers
    join invoices on customers.id = invoices.customer_id
    group by customers.id)
as sub
where last_name = 'Wichterlov치'
and first_name = 'Franti코ek';

Retrieve the track name, album, artistID, and trackID for all the albums.

In [ ]:
select tracks.name as track_name, albums.title as album, albums.artist_id, tracks.id as track_id
from tracks
join albums on tracks.album_id = albums.id;

What is the song title of trackID 12 from the "For Those About to Rock We Salute You" ?

In [ ]:
select track_name
from
    (select tracks.name as track_name, albums.title as album, albums.artist_id, tracks.id as track_id
     from tracks
         join albums on tracks.album_id = albums.id)
as sub
where track_id = 12
and album = 'For Those About To Rock We Salute You';

Retrieve a list with the managers last name, and the last name of the employees who report to him or her. **Who are the reports for the manager named Mitchell?**

In [ ]:
select emp.last_name as employee, man.last_name as manager
from employees emp
left join employees man on emp.reports_to =man.id;

In [ ]:
select sub.employee
from (select emp.last_name as employee, man.last_name as manager
      from employees emp 
          left join employees man on emp.reports_to =man.id)
as sub
where sub.manager = 'Mitchell';

Find the name and ID of the artists who do not have albums.

In [ ]:
select artists.name, artists.id
from artists
full join albums on artists.id = albums.artist_id
where albums.id is null;

Use a UNION to create a list of all the employee's and customer's first names and last names ordered by the last name in descending order. **Determine what is the last name of the 6th record** Remember to order things in descending order to be sure to get the correct answer.

In [ ]:
select employees.last_name, employees.first_name
from employees
union
select customers.last_name, customers.first_name
from customers
order by last_name desc;

See if there are any customers who have a different city listed in their billing city versus their customer city.

In [ ]:
select customers.first_name, customers.last_name, customers.city, invoices.billing_city
from customers
join invoices on customers.id = invoices.customer_id
where customers.city != invoices.billing_city;